@charset "utf-8";


/* Html og body site og 2 flexbox containere*/

html,body {
	height: 100%;
	width: 1160px;
	margin: 0 auto;
	display: inline-block;
	}

.flexcontainter {
	display: flex;
    flex-direction: column;
    
}
.flexcontainer2 {
	display:flex;
	flex-direction: row
}

/* Horizontal bar med sitemap og logo */

.Homenu {
    width: 100%;
    background-color: #003B87;
    display: inline-block;
    float: left;
    height: 130px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#logo {
    padding-top: 25px;
    padding-left: 10px;
}

.hvorerjegboks {
	display: inline-block;
	margin-left: 125px;
	position: absolute;
	top: 46px;
	text-align: center;	
}

.listestiliboks {
    list-style-type: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: xx-large;
    position: relative;
    left: 89px;
    top: 25px;
	
}


/* Vertikal Menu indbefatter menu og menuitem */

.menu {
    display: flex;
    align-self: stretch;
    margin: 0px;
    height: 600px;
    background-color: #003B87;
    order: 1;
    width: 300px;	
}

.menuitem {
	max-width: 250px;
	padding-top: 20px;
	list-style-type: none;
	font-size: large;
	font-weight: bold;
	color: #FFFFFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 45px;
}

/* Alt Content som ikke er navbarene. Altså Ændrings boksene. */

.columncontainer {
	display:flex;
	order:4;
	flex-direction: column;
}



.storboks {
	display: flex;
	flex-direction: row;
	order: 2;
	/*flex-grow: 2;*/
	
		}

.a-boks {
    order: 1;
    height: 300px;
    width: 450px;
    background-color: #EEEAF7;
	
}

.b-boks {
    order: 2;
    width: 450px;
    height: 300px;
    background-color: #EEEAF7;
	
}

.underboks {
	display:flex;
	flex-direction: row;
	order:3;
}

.c-boks {
    order: 2;
    height: 300px;
    width: 450px;
    background-color: #EEEAF7;
	
}

.d-boks {
    order: 2;
    height: 300px;
    width: 450px;
    background-color: #EEEAF7;
	
}


/*Tekstboks*/

#ledetrad {
    margin-left: 15px;
    width: 406px;
    height: 100px;
    resize: none;
    border-top-right-radius: 0px;
}

.svar {
    margin-left: 15px;
    width: 200px;
    height: 45px;
	resize: none;
}



/* Submit knappen og dertilhørende tekst ihvert felt */

.submit {
    cursor: pointer;
    color: white;
    border: none;
    padding: 16px 32px;
    margin-left: 170px;
    border-radius: 5px;
    background-color: #003B87;
}
.tekstled {
    margin-left: 15px;	
}

/*Tekststyling*/
h1 {
    text-align: center;
    font-family: abril-fatface;
    font-style: normal;
    font-weight: 400;	
}
p1 {
    font-family: andada;
    font-style: normal;
    font-weight: 400;	
}
