@charset "utf-8";


/* Html og body site og 2 flexbox containere*/

html,body {
	height: 100%;
	width: 100%;
	margin: 0px;
	display: inline-block;
	}

.flexcontainter {
	display: flex;
    flex-direction: column;
    
}
.flexcontainer2 {
	display:flex;
	flex-direction: row
}

/* Horizontal bar med sitemap og logo */

.Homenu {
	width: 100%;
	background-color: #0F21B0;
	display: inline-block;
	float: left;
	height: 130px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-bottom: 1px solid #3D6CAB;
}

#logo {
	padding-top: 25px;	
}

.hvorerjegboks {
	display: inline-block;
	margin-left: 125px;
	position: absolute;
	top: 46px;
	text-align: center;	
}

.listestiliboks {
	list-style-type: none;
	color: #FFFFFF;
	font-weight: bold;
	font-size: xx-large;
	
}


/* Vertikal Menu indbefatter menu og menuitem */

.menu {
	display: flex;
	align-self: stretch;
	margin: 0px;
	height: 800px;
	background-color: #0F21B0;
	order: 1;
	width: 300px;
	
}

.menuitem {
	max-width: 250px;
	padding-top: 20px;
	list-style-type: none;
	font-size: large;
	font-weight: bold;
	color: #FFFFFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 45px;
}

/* Alt Content som ikke er navbarene. Altså Ændrings boksene. */

.storboks {
	display: flex;
	flex-direction: row;
	order: 2;
	flex-grow: 2;
	
		}

.a-boks {
	order: 1;
	height: 100px;
	width: 100px;
	background-color: #EB1014;
}

.b-boks {
	order: 2;
	width: 100px;
	height: 100px;
	background-color: #154FD5;
}
